html {
    scroll-behavior: smooth;
}

section {
    padding: 60px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.container {
    margin-top: 55px;
}

#home {
    /*imagem de fundo no home*/
    background: url("../img/fundo.jpg") center center no-repeat;
    background-size: cover;
}

#home h1 {
    font-size: 4rem;
    color:white
}

#home p {
    font-size: 1.5rem;
    color:white
}

#galeria h1 {
    margin-top: 40px;
}

#contato h1 {
    margin-top: 40px;
}

.scroll-btn {
    margin-top: 30px;
}

.homebtn {
    margin-top: 0px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


nav.scrolled {
    background-color: #333 !important;

}

.fotos1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}
 
.imgcarrossel {
    height: 350px;
    width: 700x;
}

 .img-fixa {
  width: 100%;          
  height: 200px;       
  object-fit: cover;   
  border-radius: 8px;   
}
